/* General Styling for About Page */
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; /* Ensure full width */
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 20px;
    text-align: center;
}


.about-title {
    font-size: 3rem;
    font-weight: bold;
    color: #f39c12;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: uppercase;
    animation: fadeIn 1s ease-in-out;
}

.about-description {
    font-size: 1.5rem;
    line-height: 1.6;
    max-width: 800px;
    color: #dcdcdc;
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease-in-out;
}

/* Hero Section Styling */
.hero-section {
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
}

/* Logo Styling */
.home-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-logo:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
}

/* Typewriter Effect Styling */
.hero-heading {
    font-size: 3rem;
    margin: 10px 0;
    letter-spacing: 1.5px;
    font-weight: bold;
    color: #06c5f0;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #f39c12;
    width: 100%;
    animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #f39c12;
    }
}

/* Subheading Styling */
.hero-subheading {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #e0e0e0;
    opacity: 0.9;
}

/* Fade-in Animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-title:hover {
    color: #fff;
    text-shadow: 0 0 10px #f39c12, 0 0 20px #f39c12;
    transition: text-shadow 0.3s ease-in-out;
}

/* Responsive Design */
@media (max-width: 768px) {
    .about-title {
        font-size: 2.5rem;
    }
    .about-description {
        font-size: 1.2rem;
    }
}